// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



//COLORS
$btn_color: cyan;
$primary_color: #2A7B9B;



//FONTS
$primary-font: "Poppins", sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-style: normal;

//FONT-SIZE
$small-size: 18px;
$medium-size: 24px;
$large-size: 64px;



/// Container's maximum width
/// @type Length
$max-width: 1400px !default;

//BREAKPOINTS
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;