//BODY
html, body {
    min-height: 100%;
}

body {
    background: #2A7B9B;
    background: linear-gradient(360deg, rgba(42, 123, 155, 1) 0%, rgba(237, 221, 83, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100%;
}