//CONTACT FORM
@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins' as mx;


section.contact__form {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    h2 {
        margin: 0;
        color: white;
    }
    p.sub {
        margin: 0;
        max-width: 80%;
        text-align: center;
        color: white;
    }
    form {
        background-color: white;
        border-radius: 20px;
        padding: 20px 20px;
        label {
            display: block;
        }
        input {
            border-radius: 10px;
            background-color: v.$primary_color;
            border: none;
            
        }
        textarea {
            width: 100%;
            border-radius: 10px;
            background-color: v.$primary_color;
        }
        button {
            padding: 8px 16px;
            border-radius: 16px;
            border: none;
            color: v.$primary_color;
            box-shadow: 3px 3px 5px v.$primary_color;
            &:hover {
                color: white;
                background-color: v.$primary_color;
            }
        }
    }
    @include mx.breakpoint(tablet) {
        form {
            width: 50%;
            input {
                width: 100%;
            }
        }
    }
    
}
