//REGISTRO FORM
@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins' as mx;


section.form {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    h1 {
        margin: 0;
        text-align: center;
    }
    fieldset {
        border: none;
        margin: 0;
        background-color: white;
        border-radius: 20px;
        padding: 0 20px;
        
        legend {
            font-size: 24px;
            font-weight: bold;
            padding-top: 50px;
        }
        label {
            display: block;
        }
        input {
            border-radius: 10px;
            background-color: v.$primary_color;
            border: none;
            width: 100%;
            height: 30px;
        }
        textarea {
            border-radius: 10px;
            background-color: v.$primary_color;
            width: 100%;
            &::placeholder {
                color: white;
            }
        }

    }
    .buttons {
        padding-top: 20px;
        button {
            padding: 8px 16px;
            border-radius: 16px;
            border: none;
            color: v.$primary_color;
            &:hover {
                color: white;
                background-color: v.$primary_color;
            }
        }
    }
    @include mx.breakpoint(tablet) {
        padding: 0 20px;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            fieldset {
                width: 50%;
                input {
                    width: 100%;
                }
                textarea {
                    width: 100%;
                }
            }
        }
    }
    @include mx.breakpoint(desktop) {
        form {
            fieldset {
                width: 40%;
            }
        }
    }

}